.container {
  width: 90%;
  margin: 1em auto;
}

.grid{
  @include e(row){
    @include flex(flex, column);
    width:90%;
    margin: 1em auto;
  };
  @include e(col){
    @include m(3){
      padding-top: 2em;
      text-align: center;
    };
  };
  @include e(col){
    @include m(12){
      margin-top: 2em;
      color: $main-font-color;
    };
  };
}

.nav{
  @extend %flex-column;
  margin: auto;
  width: 90%;
  margin-top: 1.5em;
  @include e(item){
    transition: border-radius .2s ease-out;
    @extend %nav-item;
  };
}

@include bp('lg'){
  .grid{
    @include e(row){
      @include flex(flex, row);
      align-items: center;
      width: 90%;
      margin: 2em auto;
      text-align: left;
    };
    @include e(col){
      @include m(3){
        padding-top:0;
        margin-right: auto;
        margin-left: 3em;
        text-align: left;
      };
    };
  }

  .nav{
    @include flex(flex, row);
    text-align: center;
    align-items: center;
    margin: 0 3em 0 0;
    @include e(item){
      align-self: center;
    };
  }
}

.container{
  width: 80%;
}
