.headline{
  @include m(secondary){
    @extend %secondary-headline;
  };
  @include m(primary){
    padding-left: .75em;
    color: $main-green;
    margin-top: .3em;
    margin-bottom: 1em;
  };
}

.link {
  @extend %links;
}

.blockquote{
  border-radius: 3px;
  border-left: 5px solid $main-green;
  color: $main-font-color;
  font-size: 1.5em;
  padding-left: .6em;
  font-style: italic;
  margin-bottom: 3em;
}

@include bp('lg'){
  .grid{
    @include e(col){
      @include m(8){
        padding-right: 6em;
        vertical-align: top;
      };
    };
  }
};
